[package]
name = "sci-rs"
version = "0.1.4"
edition = "2021"
authors = ["Jacob Trueb <jtrueb@northwestern.edu>"]
description = "Rust library behind sciprs like scipy"
license = "MIT OR Apache-2.0"
repository = "https://github.com/qsib-cbie/sci-rs.git"
homepage = "https://qsib-cbie.github.io/sci-rs"
readme = "../README.md"
keywords = ["scipy", "sciprs", "python", "filter", "numpy"]
categories = ["science"]


[package.metadata.docs.rs]
all-features = true

[features]
default = ['use_std']
use_std = ['itertools', 'nalgebra/std', 'nalgebra/macros']

[dependencies]
num-traits = "0.2.15"
itertools = { version = "0.10.3", optional = true }
heapless = "0.7.16"
nalgebra = { version = "0.31.1", default-features = false }
ndarray = { version = "0.15.6", default-features = false }

[dev-dependencies]
approx = "0.5.1"
bencher = "0.1.5"
criterion = { version = "0.3", features = ["html_reports"] }
dasp = { version = "0.11.0", features = ["signal"] }
dhat = "0.3.0"
gnuplot = "0.0.37"
itertools = "0.10.3"


[[bench]]
name = "sosfilt"
harness = false

[[bench]]
name = "sosfiltfilt"
harness = false
