name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron:  '0 0 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Test
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
    - name: Install nextest
      run: cargo install cargo-nextest
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo nextest run --profile ci
    - name: Run doctests
      if: always()
      run: cargo test --doc
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Unit Test Results
        path: target/nextest/ci/junit.xml
  
  report:
    name: "Publish Test Results"
    needs: build 
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          xunit_files: artifacts/target/nextest/ci/junit.xml
